//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 26 19:51:01 2019
//! **************************************************************************

SCHEMATIC START;
COMP "binaryPasswordLeft<0>" LOCATE = SITE "P90" LEVEL 1;
COMP "binaryPasswordLeft<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "binaryPasswordLeft<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "binaryPasswordLeft<3>" LOCATE = SITE "P82" LEVEL 1;
COMP "binaryPasswordLeft<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "clk" LOCATE = SITE "P40" LEVEL 1;
COMP "SEVSEG_CONTROL<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "SEVSEG_CONTROL<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "SEVSEG_CONTROL<2>" LOCATE = SITE "P52" LEVEL 1;
COMP "SEVSEG_CONTROL<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SEVSEG_CONTROL<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "SEVSEG_CONTROL<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SEVSEG_CONTROL<6>" LOCATE = SITE "P60" LEVEL 1;
COMP "SEVSEG_CONTROL<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "binaryPasswordRight<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "binaryPasswordRight<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "binaryPasswordRight<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "binaryPasswordRight<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "binaryPasswordRight<4>" LOCATE = SITE "P94" LEVEL 1;
COMP "do_it" LOCATE = SITE "P36" LEVEL 1;
COMP "SEVSEG_DATA<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "SEVSEG_DATA<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "SEVSEG_DATA<2>" LOCATE = SITE "P98" LEVEL 1;
COMP "SEVSEG_DATA<3>" LOCATE = SITE "P73" LEVEL 1;
COMP "SEVSEG_DATA<4>" LOCATE = SITE "P72" LEVEL 1;
COMP "SEVSEG_DATA<5>" LOCATE = SITE "P65" LEVEL 1;
COMP "SEVSEG_DATA<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "SEVSEG_DATA<7>" LOCATE = SITE "P71" LEVEL 1;
COMP "changePassword" LOCATE = SITE "P32" LEVEL 1;
SCHEMATIC END;

